TamagAppa.xcodeproj/xcuserdata/labuser.xcuserdatad/xcdebugger/Breakpoints_v2/xcbkptlist


*.xcuserstate

TamagAppa.xcodeproj/project.xcworkspace/xcuserdata/labuser.xcuserdatad/UserInterfaceState.xcuserstate
